In [128]:
# Dependencies and Setup
import os
import pandas as pd

# File to Load 
read_csv = "../Resources/purchase_data.csv"

# Create data frame, and read csv file
purchase_data_df = pd.read_csv(read_csv)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [129]:
#Add number of players, and create data frame to display total players
number_of_players_df = {"Total Players":[len(purchase_data_df["Purchase ID"].value_counts())]}
Total_players_df =pd.DataFrame(number_of_players_df)
Total_players_df

   Total Players
0            780

In [130]:
# Find number of unique items
#unique_df = purchase_data_pd["Item Name"].value_counts()
unique_df = purchase_data_df["Item Name"].nunique()
unique_df

179

In [131]:
# find the average price
average_price_df = round(purchase_data_df["Price"].mean(),2)
average_price_df

3.05

In [132]:
# to find the total revenue
total_revenue_df = round(purchase_data_df["Price"].sum(),2)
total_revenue_df

2379.77

In [133]:
# to find the number of purchases
total_purchases_df =purchase_data_df["Purchase ID"].count()
total_purchases_df

780

In [134]:
#Purchase Analysis into a data frame
purchase_analysis_df = ([{"Number Of Unique Items":unique_df,"Average Price":average_price_df,"Number Of Purchases":total_purchases_df,"Total Revenue":total_revenue_df}])

purchase_analysis_total_df = pd.DataFrame(purchase_analysis_df)
purchase_analysis_total_df

   Number Of Unique Items  Average Price  Number Of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [163]:
#Finding gender demographics
#purchase_data_pd.head()

gender1_df = purchase_data_df[['Gender','SN']].drop_duplicates(subset = 'SN')
#Gender value counts
gender_count = gender1_df['Gender'].value_counts(0)
gender_percent = gender1_df['Gender'].value_counts(1)
#create data frames
gender_count_df = pd.DataFrame(gender_count)
gender_percent_df = round(pd.DataFrame(gender_percent) * 100, 2)
#Merge data frames
gender_total_df = gender_count_df.merge(gender_percent_df, left_index = True, right_index = True)
#assign Title to columns
gender_total_df.columns = ['Total Count', 'Percentage of Players']
gender_total_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [162]:
#Purchase analysis by gender
df_gender_2 = purchase_data_df.groupby('Gender')

purchase_count = round(df_gender_2['Purchase ID'].count(), 0)
avg_purchase_price = round(df_gender_2['Price'].mean(), 2)
total_purchase_value = round(df_gender_2['Price'].sum(), 2)
purchase_value_per_gender = round(total_purchase_value / gender_count, 2)

summary_dataframe2 = pd.DataFrame([purchase_count, avg_purchase_price, total_purchase_value, purchase_value_per_gender])
summary2 = summary_dataframe2.T
summary2.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
summary2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113.0,3.20,361.94,4.47
Male,652.0,3.02,1967.64,4.07
Other / Non-Disclosed,15.0,3.35,50.19,4.56