In [241]:
# Dependencies and Setup
import os
import pandas as pd
import numpy as np

# File to Load 
read_csv = "../Resources/purchase_data.csv"

# Create data frame, and read csv file
purchase_data_1_df = pd.read_csv(read_csv)
purchase_data_1_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [242]:
#Add number of players, and create data frame to display total players
#purchase_data_df.dtypes
#purchase_data_df.columns
number_of_players_df = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
number_of_players_df = number_of_players_df.drop_duplicates()
num_players = number_of_players_df.count()[0]     
# Display the total number of players
summary_1_df =pd.DataFrame({"Total Players": [num_players]})
summary_1_df

   Total Players
0            576

In [243]:
# Find number of unique items
unique_df = purchase_data_df["Item Name"].nunique()
unique_df

179

In [244]:
# find the average price
average_price_df = round(purchase_data_df["Price"].mean(),2)
average_price_df

3.05

In [245]:
# to find the total revenue
total_revenue_df = round(purchase_data_df["Price"].sum(),2)
total_revenue_df

2379.77

In [232]:
# to find the number of purchases
total_purchases_df =purchase_data_df["Purchase ID"].count()
total_purchases_df

780

In [246]:
#Purchase Analysis into a data frame
#purchase_data_df.dtypes
#purchase_data_df.columns
purchase_analysis_df = ([{"Number Of Unique Items":unique_df,"Average Price":average_price_df,"Number Of Purchases":total_purchases_df,"Total Revenue":total_revenue_df}])

purchase_analysis_total_3_df = pd.DataFrame(purchase_analysis_df)
#format Columns
formatted_summary_2_df =purchase_analysis_total_3_df.style.format({'Number Of Unique Items':'{:.0f}','Average Price':'${:.2f}', 'Number Of Purchases':'{:.0f}', 'Total Revenue':'${:,.2f}'})
#Display summary
formatted_summary_2_df

In [247]:
#Finding gender demographics
#purchase_data_pd.head()
#purchase_data_df.dtypes
#purchase_data_df.columns
gender1_df = purchase_data_df[['Gender','SN']].drop_duplicates(subset = 'SN')
#Gender value counts
gender_count = gender1_df['Gender'].value_counts(0)
gender_percent = gender1_df['Gender'].value_counts(1)
#create data frames
gender_count_df = pd.DataFrame(gender_count)
gender_percent_df = round(pd.DataFrame(gender_percent) * 100, 2)
#Merge data frames
gender_stats_4_df = gender_count_df.merge(gender_percent_df, left_index = True, right_index = True)
#assign Title to columns
gender_stats_4_df.columns = ['Total Count', 'Percentage of Players']
#format Columns
formatted_summary_3_df =gender_stats_4_df.style.format({'Total Count':'{:.0f}', 'Percentage of Players':'{:.2f}%'})
#Display summary
formatted_summary_3_df

In [235]:
#Purchase analysis by gender
#purchase_data_df.dtypes
#purchase_data_df.columns
gender_df = purchase_data_df.groupby('Gender')
#gender_df.head()
#collect my data
purchase_count = gender_df['Purchase ID'].count()
purchase_count =purchase_count.astype(object)
avg_purchase_price_df = round(gender_df['Price'].mean(), 2)
total_purchase_value = round(gender_df['Price'].sum(), 2)
purchase_value_per_gender = round(total_purchase_value / gender_count, 2)
#add to my data frame
summary_data_4_df = pd.DataFrame([purchase_count, avg_purchase_price_df, total_purchase_value, purchase_value_per_gender])
#summary_data_2_df.dtypes
#Switch index, and columns to match example
summary_4_df = summary_data_4_df.T
summary_4_df.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
#Format Columns
formatted_summary_4_df =summary_4_df.style.format({'Purchase Count':'{:.0f}','Average Purchase Price':'${:.2f}', 'Total Purchase Value':'${:,.2f}', 'Avg Total Purchase per Person':'${:.2f}'})

#display Summary
formatted_summary_4_df

In [248]:
#age Demographics
#purchase_data_df.dtypes
#purchase_data_df.columns
#create bins, and labels
df_1 =purchase_data_df
bins =[0,9,14,19,24,29,34,39,150]
ages =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#attach bins, and labels
df_1["Total Count"] = pd.cut(df_1["Age"], bins, labels = ages)
age1_df = df_1[['Total Count','SN']].drop_duplicates(subset = 'SN')

#collect the required data
age_demographics_summary = age1_df.groupby("Total Count").count()
age_counts = age_demographics_summary['SN']
age_demographics_percentages = round(age_counts / 576 * 100, 2)

summary_age_demographic_pd = pd.DataFrame([age_counts, age_demographics_percentages])
#Switch index, and columns to match example
summary_data_5_df = summary_age_demographic_pd.T
#summary_data_6_df.dtypes
#Add column titles
summary_data_5_df.columns = ['Total Count', 'Percentage of Players']
#format columns
formatted_summary_5_df =summary_data_5_df.style.format({'Total Count':'{:.0f}','Percentage of Players':'{:.2f}%'})
#display Summary
formatted_summary_5_df

In [237]:
#Purchase Analysis (Age)
purchase_data_df.dtypes
purchase_data_df.columns
#create bins, and labels
df_2 =purchase_data_df
bins =[0,9,14,19,24,29,34,39,150]
ages =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#attach bins, and labels
df_2["Total Count"] = pd.cut(df_2["Age"], bins, labels = ages)
new_df = df_2[["Total Count","SN","Price"]]

new_grouped = new_df.groupby('Total Count')
purchase_counts = new_grouped['Price'].count()
average_prices = round(new_grouped['Price'].mean(),2)
total_spent = round(new_grouped['Price'].sum(), 2)
spending_per_person = round(total_spent/age_counts,2)

summary_6_df = pd.DataFrame([purchase_counts, average_prices, total_spent, spending_per_person])
#Switch index, and columns to match example
summary_6_df = summary_6_df.T
summary_6_df.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
#format columns
formatted_summary_6_df =summary_6_df.style.format({'Purchase Count':'{:.0f}','Average Purchase Price':'${:.2f}','Total Purchase Value':'${:,.2f}','Avg Total Purchase per Person':'${:.2f}'})
#display Summary
formatted_summary_6_df

In [249]:
# Top Spenders
#purchase_data_df.dtypes
#purchase_data_df.columns
# collect the required data
spenders_df = purchase_data_df.groupby('SN')
purchase_counts = spenders_df['Gender'].count()
average_spending = round(spenders_df['Price'].mean(),2)
total_purchase = round(spenders_df['Price'].sum(),2)
#Begin formatting summary
summary_7_df = pd.DataFrame([purchase_counts, average_spending, total_purchase])
summary_7_df = summary_7_df.T
summary_7_df.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
#display Summary
#add in decending order, and formatting
summary_7_df.sort_values('Total Purchase Value', ascending=False).head().style.format({'Purchase Count':'{:.0f}','Average Purchase Price':'${:.2f}','Total Purchase Value':'${:.2f}'})

In [239]:
#purchase_data_df.dtypes
#purchase_data_df.columns
popular_df =purchase_data_df
popular_1_df = popular_df.groupby(['Item ID', 'Item Name'])
purchase_counts2 = popular_1_df['Gender'].count()
average_spending2 = round(popular_1_df['Price'].mean(),2)
total_purchase2 = round(popular_1_df['Price'].sum(),2)

summary_8_df = pd.DataFrame([purchase_counts2, average_spending2, total_purchase2])
popular_summary_8_df = summary_8_df.T
popular_summary_8_df.columns = ['Purchase Count', 'Item Price', 'Total Purchase Value']
#display Summary
#add in decending order, and formatting
popular_summary_8_df.sort_values('Purchase Count', ascending=False).head().style.format({'Purchase Count':'{:.0f}','Item Price':'${:.2f}','Total Purchase Value':'${:.2f}'})

In [250]:
#display Summary
#add in decending order, and formatting
popular_summary_9_df.sort_values('Total Purchase Value', ascending=False).head().style.format({'Purchase Count':'{:.0f}','Item Price':'${:.2f}','Total Purchase Value':'${:.2f}'})

In [252]:
print("this is th end of the script, and it all works")

this is th end of the script, and it all works